<div id="otherConfig">
	<div class="form-group">
    	<label class="col-sm-3 control-label">所属数据：</label>
    	<div class="col-sm-6">
    		<select class="form-control" ng-init="vcolItem.data=vcolItem.data||inputinfos[0].dataName" ng-model="vcolItem.data">
				<option value="{{input.dataName}}" ng-selected="input.dataName==vcolItem.data" ng-repeat="input in inputinfos">{{input.dataName}}</option>
			</select>
    	</div>
  	</div>
	<div class="form-group">
    	<label class="col-sm-3 control-label">新列名称：</label>
    	<div class="col-sm-6">
      		<input type="text" class="form-control" ng-model="vcolItem.colName" ng-init="vcolItem.colName=vcolItem.colName" placeholder="新列名称" ng-blur="isExist(vcolItem.colName)"/>
    	</div>
      <input id="newCol" type="hidden" value="{{vcolItem.colName}}" >
  	</div>
  	<!-- 
  	<div class="form-group">
    	<label for="hdfsname" class="col-sm-3 control-label">参数赋值：</label>
  	</div>
  	 -->
  	<div class="form-group">
    	<label class="col-sm-3 control-label">列1：</label>
    	<div class="col-sm-6">
      		<select class="form-control" ng-model="vcolItem.args[0].value" ng-init="param=vcolItem.args[0]||{type:'field',desc:'列1',value:getAllCols()[0]};vcolItem.args[0]=param">
				<option value="{{col}}" ng-selected="col==vcolItem.args[0].value" ng-repeat="col in getAllCols(vcolItem.data) track by $index">{{col}}</option>
			</select>
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-3 control-label">运算方式：</label>
    	<div class="col-sm-6">
      		<select class="form-control" ng-model="vcolItem.args[1].value" ng-init="param=vcolItem.args[1]||{type:'string',desc:'运算方式',value:'add'};vcolItem.args[1]=param">
				<option value="add">加</option>
				<option value="minus">减</option>
				<option value="plus">乘</option>
				<option value="divide">除</option>
			</select>
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-3 control-label">列2：</label>
    	<div class="col-sm-6">
      		<select class="form-control" ng-model="vcolItem.args[2].value" ng-init="param=vcolItem.args[2]||{type:'field',desc:'列2',value:getAllCols()[0]};vcolItem.args[2]=param">
				<option value="{{col}}" ng-selected="col==vcolItem.args[2].value" ng-repeat="col in getAllCols(vcolItem.data) track by $index">{{col}}</option>
			</select>
    	</div>
  	</div>
</div>