<div id="otherConfig">
	<div class="form-group">
    	<label class="col-sm-3 control-label">所属数据：</label>
    	<div class="col-sm-6">
    		<select class="form-control" ng-init="vcolItem.data=vcolItem.data||inputinfos[0].dataName" ng-model="vcolItem.data">
				<option value="{{input.dataName}}" ng-selected="input.dataName==vcolItem.data" ng-repeat="input in inputinfos">{{input.dataName}}</option>
			</select>
    	</div>
  	</div>
	<div class="form-group">
    	<label class="col-sm-3 control-label"><span class="redStar">*&nbsp;</span>新列名称：</label>
    	<div class="col-sm-6">
      		<input type="text" name="newColName" class="form-control" ng-model="vcolItem.colName" ng-init="vcolItem.colName=vcolItem.colName" placeholder="新列名称" data-rule="required" ng-blur="isExist(vcolItem.colName)"/>
    	</div>
      <input id="newCol" type="hidden" value="{{vcolItem.colName}}" >
  	</div>
  	<!-- 
  	<div class="form-group">
    	<label for="hdfsname" class="col-sm-3 control-label">参数赋值：</label>
  	</div>
  	 -->
  	<div class="form-group">
    	<label class="col-sm-3 control-label">待切分列：</label>
    	<div class="col-sm-6">
      		<select class="form-control" ng-model="vcolItem.args[0].value" ng-init="param=vcolItem.args[0]||{type:'field',desc:'待切分列',value:getAllCols()[0]};vcolItem.args[0]=param">
				<option value="{{col}}" ng-selected="col==vcolItem.args[0].value" ng-repeat="col in getAllCols(vcolItem.data) track by $index">{{col}}</option>
			</select>
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-3 control-label"><span class="redStar">*&nbsp;</span>正则切分符：</label>
    	<div class="col-sm-6">
      		<input type="text" name="seperator" vcolItem ng-trim="false"  class="form-control" ng-model="vcolItem.args[1].value" ng-init="param=vcolItem.args[1]||{type:'string',desc:'切分字符串',value:''};vcolItem.args[1]=param" placeholder="正则切分符  示例：按.切分应写成\." data-rule="required"/>
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-3 control-label"><span class="redStar">*&nbsp;</span>取第几部分：</label>
    	<div class="col-sm-6">
      		<input type="text" name="part" class="form-control" ng-model="vcolItem.args[2].value" ng-init="param=vcolItem.args[2]||{type:'intlist',desc:'取第几部分',value:''};vcolItem.args[2]=param" placeholder="取第几部分" data-rule="required"/>
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="col-sm-3 control-label">结果拼接符：</label>
    	<div class="col-sm-6">
      		<input type="text" name="strResult" class="form-control" ng-model="vcolItem.args[3].value" ng-init="param=vcolItem.args[3]||{type:'string',desc:'结果拼接符',value:''};vcolItem.args[3]=param" placeholder="结果拼接符" />
    	</div>
  	</div>
</div>