<div id="otherConfig">
	<style type="text/css">
		#srclb,#dstlb{border:1px solid #aaa;width:200px;height:195px;}
		.to{width:30px;}
	</style>
	<div class="form-group">
    	<label class="col-sm-3 control-label">所属数据：</label>
    	<div class="col-sm-6">
    		<select class="form-control" ng-init="vcolItem.data=vcolItem.data||inputinfos[0].dataName" ng-model="vcolItem.data">
				<option value="{{input.dataName}}" ng-selected="input.dataName==vcolItem.data" ng-repeat="input in inputinfos">{{input.dataName}}</option>
			</select>
    	</div>
  	</div>
 	<div class="form-group">
    	<label class="col-sm-3 control-label"><span class="redStar">*&nbsp;</span>新列名称：</label>
    	<div class="col-sm-6">
      		<input type="text" name="newColName" class="form-control" ng-model="vcolItem.colName" ng-init="vcolItem.colName=vcolItem.colName" placeholder="新列名称" 
          data-rule="required" ng-blur="isExist(vcolItem.colName)"/>
    	</div>
      <input id="newCol" type="hidden" value="{{vcolItem.colName}}" >
  	</div>
  	<div class="form-group">
    	<label for="hdfspath" class="col-sm-3 control-label">常量：</label>
    	<div class="col-sm-6">
      		<input type="text" ng-trim="false" class="form-control" ng-model="vcolItem.args[0].value" ng-init="param=vcolItem.args[0]||{type:'string',desc:'常量',value:''};vcolItem.args[0]=param" placeholder="常量"/>
    	</div>
  	</div>
</div>