<div>
    <div class="box-element user-alert">
        <div class="view">
            <div class="title">
                <img src="userInfo/img/help.png"/>
            </div>
            <div class="content">
                <div>
                    <h6>告警
                </div>
                <div style="margin-top: -10px;">
<!--                     <div>产品手册:<a>Darwin产品手册</a></div> -->
<!--                     <div>产品白皮书:<a>Darwin5.0.1白皮书</a></div> -->
<!--                     <div>大数据微信号:<a>大数据视界</a></div> -->
<!--                     <div>操作手册:<a>Darwin操作手册</a></div> -->
<!--                     <div>入门视频:<a>产品操作视频演示</a></div> -->
                <div>产品手册:<a href="javascript:void(window.open('/doc/Darwin产品手册.pdf'))">Darwin产品手册</a></div>
                <div>产品白皮书:<a href="javascript:void(window.open('/doc/Darwin白皮书.pdf'))">Darwin5.0.1白皮书</a></div>
                <div>大数据微信号:<a href="javascript:void(window.open('/doc/weixin.jpg'))">大数据视界</a></div>
                <div>操作手册:<a href="javascript:void(window.open('/doc/Darwin操作手册.pdf'))">Darwin操作手册</a></div>
                <div>入门视频:<a href="javascript:void(window.open('http://v.youku.com/v_show/id_XMTI3Mzk2NTM0OA==.html'))">产品操作视频演示</a></div>
                </div>
            </div>
        </div>
    </div>
</div>