<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	 <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
  <!-- sso 配置 -->
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>https://sso.testplatform.com:8443/cas/logout</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>http://localhost:8080</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS Authentication Filter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>casServerLoginUrl</param-name>
      <param-value>https://sso.testplatform.com:8443/cas/login</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>http://localhost:8080</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>https://sso.testplatform.com:8443/cas</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>http://localhost:8080</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/druid/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/api/es*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/install*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/upgrade*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/upgradeApi*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/server*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/ajaxServer*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/configure*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/properties*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/analytics*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/analyticsHistory*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/datasources*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/task*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/search*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/dsTemplate*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/manage/user*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/dashBoard*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/dashApi*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/sys*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/org*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/sys/role*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/flow*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/config/hdfs*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/flowComp*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/udc*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/script*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/node</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/node*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/hbase*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/flowStatus*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/es*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/share*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/clearRule*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/kbnQuery*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/version*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/sourceType*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/sourceType*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/dataCategory*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/yiji/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/druid/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/api/es*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/install*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/upgrade*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/upgradeApi*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/server*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/ajaxServer*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/configure*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/properties*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/analytics*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/analyticsHistory*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/datasources*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/task*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/search*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/dsTemplate*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/manage/user*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/dashBoard*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/dashApi*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/sys*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/org*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/sys/role*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/flow*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/config/hdfs*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/flowComp*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/udc*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/script*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/node</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/node*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/hbase*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/flowStatus*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/es*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/share*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/clearRule*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/kbnQuery*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/version*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/sourceType*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/sourceType*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/dataCategory*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/yiji/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <filter-class>    
            org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CAS Assertion Thread Local Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS Assertion Thread Local Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- sso 配置结束 -->
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestApi</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.RestApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>install</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.InstallServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upgrade</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.UpgradeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upgradeApi</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.UpgradeApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ajaxServer</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ServerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>server</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.InstallServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>configure</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ConfigureServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>properties</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.PropertiesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>analytics</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.AnalyticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>analyticsHistory</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.AnalyticsHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>datasources</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.DatasourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dsTemplate</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.DsTemplateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>task</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>monitor</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.MonitorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>group</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.GroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>project</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>trigger</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.TriggerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>triggerHistory</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.TriggerHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>connConf</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ConnConfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dashBoard</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.DashBoardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dashApi</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.DashBoardApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>keyvalue</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.KeyValueMainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sys</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.SysServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>org</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.OrgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>role</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>flow</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.FlowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hdfs</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.HdfsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>flowComp</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.FlowCompServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>udc</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.UdcServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>script</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ScriptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>node</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.NodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hbase</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.HbaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>flowStatus</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.FlowStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>es</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.EsIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>share</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ShareServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clearRule</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.ClearRuleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>kbnQuery</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.KbnQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>version</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sourceType</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.SourceTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dataCategory</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.DataCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.realtime.unicom.ext.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>page</servlet-name>
    <servlet-class>com.realtime.unicom.ext.PageloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yiji</servlet-name>
    <servlet-class>com.realtime.unicom.ext.YijiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yiji</servlet-name>
    <url-pattern>/yiji/aaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newOrg</servlet-name>
    <servlet-class>com.realtime.unicom.ext.NewOrgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newOrg</servlet-name>
    <url-pattern>/newOrg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deluser</servlet-name>
    <servlet-class>com.stonesun.realTime.services.servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deluser</servlet-name>
    <url-pattern>/deluser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestApi</servlet-name>
    <url-pattern>/api/es</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>install</servlet-name>
    <url-pattern>/install</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upgrade</servlet-name>
    <url-pattern>/upgrade</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upgradeApi</servlet-name>
    <url-pattern>/upgradeApi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>server</servlet-name>
    <url-pattern>/server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajaxServer</servlet-name>
    <url-pattern>/ajaxServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>configure</servlet-name>
    <url-pattern>/configure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>properties</servlet-name>
    <url-pattern>/properties</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>analytics</servlet-name>
    <url-pattern>/analytics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>analyticsHistory</servlet-name>
    <url-pattern>/analyticsHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>datasources</servlet-name>
    <url-pattern>/datasources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>task</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dsTemplate</servlet-name>
    <url-pattern>/dsTemplate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monitor</servlet-name>
    <url-pattern>/user/monitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>group</servlet-name>
    <url-pattern>/user/group</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>project</servlet-name>
    <url-pattern>/user/project</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>connConf</servlet-name>
    <url-pattern>/user/connConf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>trigger</servlet-name>
    <url-pattern>/user/trigger</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>triggerHistory</servlet-name>
    <url-pattern>/user/triggerHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/manage/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user/ajaxCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dashBoard</servlet-name>
    <url-pattern>/dashBoard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dashApi</servlet-name>
    <url-pattern>/dashApi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>keyvalue</servlet-name>
    <url-pattern>/user/keyvalue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sys</servlet-name>
    <url-pattern>/sys</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>org</servlet-name>
    <url-pattern>/org</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>role</servlet-name>
    <url-pattern>/sys/role</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>flow</servlet-name>
    <url-pattern>/flow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hdfs</servlet-name>
    <url-pattern>/config/hdfs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>flowComp</servlet-name>
    <url-pattern>/flowComp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>udc</servlet-name>
    <url-pattern>/udc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>script</servlet-name>
    <url-pattern>/script</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>node</servlet-name>
    <url-pattern>/node</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hbase</servlet-name>
    <url-pattern>/hbase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>flowStatus</servlet-name>
    <url-pattern>/flowStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>es</servlet-name>
    <url-pattern>/es</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>share</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clearRule</servlet-name>
    <url-pattern>/clearRule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>kbnQuery</servlet-name>
    <url-pattern>/kbnQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sourceType</servlet-name>
    <url-pattern>/sourceType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dataCategory</servlet-name>
    <url-pattern>/dataCategory</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.stonesun.realTime.services.listener.CharsetFilter</filter-class>
  </filter>
  <filter>
    <filter-name>HTMLCharacterFilter</filter-name>
    <filter-class>com.stonesun.realTime.services.listener.HTMLCharacterFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SsoFilter</filter-name>
    <filter-class>com.realtime.unicom.ext.SsoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/druid/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/api/es*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/install*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/upgrade*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/upgradeApi*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/server*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/ajaxServer*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/configure*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/properties*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/analytics*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/analyticsHistory*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/datasources*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/task*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/search*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/dsTemplate*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/manage/user*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/dashBoard*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/dashApi*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/sys*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/org*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/sys/role*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/flow*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/config/hdfs*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/flowComp*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/udc*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/script*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/node</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/node*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/hbase*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/flowStatus*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/es*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/share*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/clearRule*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/kbnQuery*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/version*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/sourceType*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/sourceType*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/dataCategory*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>/yiji/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SsoFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HTMLCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.stonesun.realTime.services.listener.StartListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>framtest.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/resources/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/resources/500_copy.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>http://jsptags.com/tags/navigation/pager</taglib-uri>
      <taglib-location>/WEB-INF/jsp/pager-taglib.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>