<div class="panel panel-darwin">
	<div style="border:1px solid #ccc;" class="panel-heading">
		<div style="width:50%;float:left;">获取设置</div>
		<div style="width:50%;float:left;text-align:right;">
			<a class="add-hdfs-source" ng-click="addOneHdfsSource()"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div style="clear: both;"></div>
	</div>
	<div class="panel-body">
		<div ng-repeat="inputinfo in inputinfos track by $index" class="box box-default">
			<div class="box-heading">
				HDFS数据
			</div>
			<div class="box-body">
				<span id="conn-count">
					{{inputinfo.dataName}}
				</span>
			</div>
			<div>
				<button type="button" class="btn btn-xs btn-default" ng-click="popup_setting($index)">
					<span class="glyphicon glyphicon-cog"></span>设置
				</button>
				<button type="button" class="btn btn-xs btn-default" ng-click="remove_setting($index)">
					<span class="glyphicon glyphicon-trash"></span>删除
				</button>
				<input type="checkbox" ng-model="showFormat[$index]">显示字段
			</div>
			<div ng-show="showFormat[$index]" style="height:200px;overflow:auto;">
				<table class="table table-condensed" >
					<thead>
						<tr>
							<th class="text-center">
								列名
							</th>
							<th class="text-center">
								类型
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="colinfo in inputinfo.colDetail">
							<td>
								{{colinfo.name}}
							</td>
							<td>
								{{colinfo.type}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
            <clean-modal index="{{$index}}" modaltitle="HDFS数据设置" modalid="hdfs_source_modal_{{$index}}">
                <hdfs-source></hdfs-source>
            </clean-model>
		</div>
	</div>
</div>
