<div class="panel panel-darwin">
	<div style="border:1px solid #ccc;" class="panel-heading">
		<div style="width:50%;float:left;">HDFS设置</div>
		
		<div style="clear: both;"></div>
	</div>
	
	<div class="panel-body">

	
		<hdfs-path index="index" name="path" id="hdfs_store" control-label="到hdfs目录" label-col="6" input-col="12" model-val="storeinfo.path" other="margin-left:-10px;width:275px;" other-label="margin-left:-25px;" other-button="margin-top:5px;width:60px;background-color:#DDD;color:white;margin-left:-10px"></hdfs-path>
	</div>
</div>
